body {
        font-family: helvetica,arial,sans-serif;
        font-size: 14pt;
        text-align: left;
}

/* words to pics */
span.picturedef {
        background: yellow;
}
span.picturedef:hover {
        background: red;
}
span.picturedef:hover:after {
        top: 110px;
        left: 100px;
        border: red 5px solid;
        position: absolute;
}
div.line {
}

/* pics to labels */

#map {
	position: absolute;
	background: url(map.jpg) no-repeat;
	width: 400px;
	height: 200px;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
}
#map li {
	margin: 0;
	padding: 0;
	list-style: none;
}
#map li a {
	text-decoration: none;
	position: absolute;
	display: block;
}
#map li a span {
	display: none;
}
#map li a:hover span {
  position:relative;
  display:block;
  margin-left:50px;
  margin-top: 50px;
  width:200px;
  left:20px;
  top:20px;
  padding:5px;
  border:1px solid #000;
  background:#fff;
  text-decoration:none;
  color:#000;
  opacity:0.8;
}

#map:hover a.bordered {
  border: 1px white solid;
}

