/* this css file is added by default */
body {
	background: white;
	font-family: arial, verdana, sans-serif;
	font-size: 11pt;
}

.bordered {
	border: 1px black solid;
}
.white {
	background: white;
	color: black;
}

.toplevel {
	border: 1px black solid;
	margin: 10px;
	padding: 10px;
	background: #F8F8F8;
	width: 800px;
}

.byline {
	text-align: right;
	margin-right: 35px;
}

div.notenav {
	text-align: right;
	margin-right: 35px;
	margin-bottom: 10px;
}

li {
	padding-bottom: 5px;
}

h4 {
	font-size: 12pt;
}

h3 {
	font-size: 14pt;
}

h2 {
	font-size: 16pt;
}

h1 {
	font-size: 20pt;
}

.menu {
	font-family: arial, sans-serif;
	margin-bottom: 10px;
}

.menuitem {
	padding: 5px;
	float: left;
}

/* for calendars */
.calendar-title,.calendar-form {
	font-family: helvetica,arial,sans-serif;
}
.calendar-title {
	text-align: center;
}
.calendar-form {
	margin-left: 75px;
}

.calendar-form a {
	color: black;
	text-decoration: none;
}
.calendar-form a:hover {
	text-decoration: underline;
}
.calendar-title {
	font-size: large;
	margin-bottom: 10px;
	border: 1px black solid;
	width: 750px;
}
.calendar {
	font-family: garamond,serif;
	font-size: small;
	height: 634px;
	width: 750px;
}
.calendar.month {
	background: #F8F8F8;
	height: 100px;
	width: 100px;
	float: left;
	border: 1px black solid;
	margin: 2px;
	overflow: hidden;
}
.calendar.month.dom {
	background: lavender;
}
.calendar.month.weekend.dom {
	background: #F0F0F0;
}
.calendar.month.selected.dom {
	background: pink;
}
.calendar.month.eow {
	width: 0;
	border: 0;
	clear: both;
}
